{{#each deals}}
<div class="deal-item col-md-3">
    <img class="deal-img" src="{{this.picture}}" alt="{{this.title}}">
    <h5>{{this.title}} <span class="badge badge-success">{{this.price}}</span></h5>
    <p>Via: {{this.vendor}}</p>
    <p class="promo-code">{{this.code}}</p>
    <a role="button" class="btn btn-info" href="{{this.deal}}">Try Me!</a>
    <a role="button" class="btn btn-warning" data-deal="{{this.title}}" href="{{this.deal}}">Comment</a>
</div>
{{/each}}
